
<div class="bg"></div>
<div class="jumbotron">
  <div class="wrapper">

  <h1>Welcome to Coderschool Restaurant</h1>
  <p class="lead">Our finest restaurant in Town</p>

  </div>
</div>
<div class="container">
  <div class="row">
    <h2>Who We Are</h2>
    We are the one who are the best restaurant in town.
    <br>
    We served over 7 millions dishes all over the world, we are proud to be one of the most inexpensive restaurant.
    <br>
    <br>
    <br>
    <h2>Why Choose Us</h2>
    Because We use fresh ingredients all the time, and also we are delicious and our foods are free to delivery. At any countries all around the world.
  </div>
  <hr>
  <div class="container">
  <div class="row footer-row">
    <h2>Our Best Dishes</h2>
<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card">
      <img src="http://www.vietflames.co.nz/file/2015/05/vietnamese-cuisine-2.jpg" width="355" height="300" alt="" />
      <div class="card-block">
        <h4 class="card-title">Pho Bo</h4>
        <p class="card-text">This pho bo from us is just the BOMB, go have one for only 25.000 VND</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_800_800/AAEAAQAAAAAAAAKHAAAAJGUwY2YzMWNhLTNjYmItNGVkZC1hMWViLTAxOGQ3ZTBkYjBmZA.jpg" width="355" height="300" alt="" />
      <div class="card-block">
        <h4 class="card-title">Goi Cuon</h4>
        <p class="card-text">A man who never eats Goi Cuon is never a whole man </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="http://danangfoodie.com/wp-content/uploads/2015/10/banh-xeo-ngon.jpg" width="355" height="300" alt="" />
      <div class="card-block">
        <h4 class="card-title">Banh Xeo</h4>
        <p class="card-text">Your mind will be blown by our traditional food Banh Xeo </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
  </div>
  </div>
    <div class="container">
  <div class="row">
    <h2>Our Best Chefs</h2>
<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card">
      <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_3000,q_90,w_1200/Luvocracy_327_1_x8yw9e.jpg" width="355" height="500" alt="" />
      <div class="card-block">
        <h4 class="card-title">Charles Lee</h4>
        <p class="card-text">Charles has been 15 years in his career. He can even chop the onions when blindfolded</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_3000,q_90,w_1200/v1/158015/55957aa69ca847bf8474a1b5c0b4f7e6_hcev12.png" width="355" height="500" alt="" />
      <div class="card-block">
        <h4 class="card-title">Harley Trung</h4>
        <p class="card-text">Harley is one of the leader of CoderschoolRestaurant. He is in charge all most everything</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_3000,q_90,w_1200/v1/158015/IMG_0186_oybkuz.jpg" width="355" height="500" alt="" />
      <div class="card-block">
        <h4 class="card-title">Marcus Ellison</h4>
        <p class="card-text">Marcus is a talented man, he can Barbeque'd while dancing.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
  </div>
  </div>
</div>
  <hr>
  <div class="row bg1" style="margin-left:1.2px">



<div class="row">
  <div class="container">
    <h1>
      <div class="clr-font" >
        Contact us

      </div>
      <img src="http://www.coderschool.vn/assets/logo-70c4d7906c0ccbd63978313cd51349150c7103e3b220e6efc2aa2c81498b69a3.png" width="400" height="80" alt=""/>
    </h1>

  <div class="col-sm-4" style="margin-top:4px">
    <div class="clr-font">
    <h2>
      Address
    </h2>
    <address>267 Dien Bien Phu Quan 3</address>
    <address>Phone: (0126) 717-5877</address>
    <h3>
      Opening time :
    </h3>
    <h5>
    <br>
    Monday - Saturday: 8:00am-6:00pm
    <br>
    Sunday: 12:00pm-5:00pm
    </h5>
  </div>
  </div>
  <div class="col-sm-8">
    <div class="clr-font">
    <h2>
      Map
    </h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15677.82939593046!2d106.68800452445629!3d10.776240956517931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f2fd894a3f1%3A0x9ebe0ddf6f78f8a0!2sWORK+Saigon!5e0!3m2!1svi!2s!4v1467720830858" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <h4>
      ©2016 Coderschool Restaurant’s Restaurant. All Rights Reserved.
      <br>
        Website Design by AlecksJohanssen
    </h4>
    </div>
  </div>
      </div>
      </div>
    </h1>
  </div>
<hr>

<div class="container">
	<div class="row">
      <div class="col-md-12 text-center"><p>©2016 Coderschool. All Rights Reserved. </p></div>
    </div>
</div>

<script>
  var jumboHeight = $('.jumbotron').outerHeight();
function parallax(){
    var scrolled = $(window).scrollTop();
    $('.bg').css('height', (jumboHeight-scrolled) + 'px');
}

$(window).scroll(function(e){
    parallax();
});
</script>
